Lookup {
    background-color: aquamarine;
}
lieu {
    background-color:darkseagreen;
}
personnages {
    background-color:cornflowerblue;
}
title{
    background-color: lightblue;
}
ChapitreElement{
    background-color: plum;
}
Date {
    background-color: darksalmon;
}
Location {
    background-color: lightseagreen;
}
